.form_control {
    display: flex;
    flex-direction: column;
    /*Afasta os inputs*/
    margin-bottom: 1em;
}

.form_control label{
    /*Afasta a Label do input*/
    margin-bottom: .6em;
    /*Em negrito*/
    font-weight: bold;
}

.form_control input{
    padding: .7em;
    border-radius: 1em;
    border: none;
}

.form_control input::placeholder{
    color: #7b7b7b;
}