.home_container{
    /*Oucupar toda a tela*/
    width: 100%;
    display: flex;
    /*Organizar elemento em coluna*/
    flex-direction: column;
    /*Vertical*/
    align-items: center;
    /*Orizontal*/
    justify-content: center;
    padding: 4em;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home_container h1 span{
    color: #ffbb33;
    padding: 0.2em;
    background-color: #222;
}

.home_container p{
    margin-bottom: 1.5em;
    color: aliceblue;
}

.home_container img{
    width: 450px;
    margin: 2em 0;
    border-radius: 100px;
}